<p id="notice"><%= notice %></p>

<p>
  <strong>Pais:</strong>
  <%= @endereco.pais %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @endereco.cidade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @endereco.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @endereco.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
